.card {
  margin-top: 50px;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: #263238;
  color: white;
  border-color: #00bfa5;
  max-width: 800px;
}

.cardHeader {
  border-color: #00bfa5;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.formGroup {
  margin-top: 20px;
  width: 80%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.formLabel {
  font-weight: bold;
}

.formControl {
  background-color: transparent;
  color: white;
  border: transparent;
  border-bottom: 3px solid #00bfa5 !important;
  border-radius: 0%;
}

.formControl:hover,
.formControl:active,
.formControl:focus,
.formControl:after {
  background-color: transparent;
  color: white;
  border: transparent;
  border-bottom: 3px solid #009682 !important;
  border-radius: 0%;
}

.cardFooter {
  margin-top: 50px;
  text-align: center;
}

.cardFooterButton {
  width: 100%;
  font-weight: bold;
  background-color: #009682;
  border-color: #009682;
  margin-bottom: 20px;
}

.cardFooterButton:hover,
.cardFooterButton:focus,
.cardFooterButton:after {
  background-color: #00bfa5;
  border-color: #00bfa5;
}

.cardFooterButtonDelete {
  width: 100%;
  font-weight: bold;
  margin-bottom: 20px;
}


.checkboxLabel {
  color: white !important;
}

.cardFooterButtonSave{
  width: 80%;
  font-weight: bold;
  background-color: #009682;
  border-color: #009682;
  margin-bottom: 20px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.cardFooterButtonSave:hover,
.cardFooterButtonSave:focus,
.cardFooterButtonSave:after {
  background-color: #00bfa5;
  border-color: #00bfa5;
}
